.card {
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
    background: gray;
    margin-top: 10px;
}
.card-header {
    color: honeydew;
}
.card .container img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-bottom: 10px;
}
.card .container img:hover {
    transform: scale(1.1);
}
